patches/openssh-9.3-janky/* linguist-vendored
patches/openssh-9.8/* linguist-vendored
*.c linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
Makefile linguist-vendored
*.sh linguist-vendored